.thing_container,
.thing_container_status {
  background-color: var(--indigo);
  color: var(--white);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.thing_container_status {
  max-width: 560px; /*like simple (not status) container*/
}

.thing_container_title {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

.thing_container_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.green_text {
  color: #0b0;
}

.yellow_text {
  color: #ff0;
}

.red_text {
  color: #b00;
}
