.thing {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px 3px #ccc;
  padding: 10px;
  gap: 5px;
  width: 100%;
  min-width: 140px;
  max-width: 350px;
}
