.moderator_thing_control_buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.moderator_thing_control_buttons .accept_button,
.moderator_thing_control_buttons .reject_button {
  border: none;
  border-radius: 10px;
  background-color: #d3eeff;
  padding: 5px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.moderator_thing_control_buttons .accept_button:hover,
.moderator_thing_control_buttons .reject_button:hover {
  background-color: #b1e0ff;
}

.img {
  height: 100%;
  aspect-ratio: 1/1;
}
