* {
  font-family: sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  background: #eee;
  overflow-y: scroll;
}

svg {
  fill: #000;
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: #d3eeff;
  cursor: pointer;
  height: 40px;
}

button:hover {
  background: #b1e0ff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.choose_thing_type {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  height: calc(40px - 3.64px);
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 10px;
}

textarea {
  resize: vertical;
  min-height: 100px;
  padding-top: 10px;
  height: calc(100px - 13.66px);
}

.hidden {
  position: absolute;
  z-index: -10;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.focus {
  outline: 2px solid #000;
  border-radius: 10px;
}

.upload-photo__label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  height: calc(40px - 1.66px);
}

.page {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.box {
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  gap: 5%;
  min-height: calc(100vh - 90px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.header__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__logo {
  height: 40px;
  aspect-ratio: 1/1;
}

.header__title {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

a {
  text-decoration: none;
}

.header__buttons {
  display: flex;
  gap: 10px;
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 30px;
  margin-bottom: 3%;
  margin-top: 3%;
}

.list__title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  align-items: center;
}

.dialog_box__wrapper {
  display: flex;
  justify-content: center;
}

.dialog_box__background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.dialog_box {
  margin-top: 70px;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  width: 70%;
  max-width: 500px;
  padding: 10px;
  gap: 10px;
}

.box_title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.thing {
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 10px;
  gap: 10px;
  max-width: 500px;
  width: 80%;
}

.thing__hidden {
  opacity: 0;
  display: none;
  transition:
    opacity 0.5s linear,
    display 0.5s allow-discrete;
}

.thing__title {
  font-weight: bold;
  justify-content: center;
  display: flex;
  text-align: center;
}

.thing__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thing__photo {
  width: calc(100% - 1.66px);
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.rotate {
  transform: rotate(-360deg);
  transition: all 1s ease-out;
}

@keyframes rotation {
  to {
    rotate: 360deg;
  }
}

.loading {
  animation: rotation 0.5s linear infinite;
  height: 40px;
  aspect-ratio: 1/1;
}
