html {
  margin-top: 15px;
  margin-bottom: 15px;
}

* {
  font-family: sans-serif;
  font-size: 18px;
  background: #eee;
}

svg {
  fill: #000;
  width: 100%;
  background: transparent;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: #d3eeff;
  cursor: pointer;
  height: 40px;
}

button:hover {
  background: #b1e0ff;
}

form {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.hidden {
  position: absolute;
  z-index: -10;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.focus {
  outline: 2px solid #000;
  border-radius: 10px;
}

.upload-photo__label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  height: 50px;
}

.box {
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  gap: 10px;
  background: #fff;
  border-radius: 10px;
}

.header__title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  background: transparent;
}

.header__buttons {
  display: flex;
  gap: 10px;
  margin-right: 20px;
  background: transparent;
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: transparent;
  margin-top: 30px;
  margin-bottom: 40px;
}

.list__title {
  font-weight: bold;
  font-size: 20px;
  background: transparent;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: transparent;
}

.dialog_box__background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.dialog_box__wrapper {
  display: flex;
  justify-content: center;
}

.dialog_box {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  background: #fff;
  width: 70%;
  max-width: 500px;
}

.box_title {
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thing {
  max-width: 500px;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background: transparent;
  border: none;
  box-shadow: 0px 0px 10px #ccc;
}

.thing__title {
  font-weight: bold;
  justify-content: center;
  display: flex;
  background: transparent;
}

.thing__content {
  margin-bottom: 10px;
  background: transparent;
}

.thing__photo {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}
