@font-face {
  font-family: nunito;
  src: url('/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

* {
  font-family: nunito;
  font-size: 18px;
}

body {
  margin: 0;
  background: #eee;
  overflow-y: scroll;
}

svg {
  fill: #000;
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: #d3eeff;
  cursor: pointer;
  height: 40px;
}

button:hover {
  background: #b1e0ff;
}

.button__hotkey_hint {
  pointer-events: none;
  position: absolute;
  border: 2px solid #aaa;
  background-color: #ddd;

  border-radius: 5px;
  height: 20px;
  min-width: 20px;
  opacity: 0;
}

.button__hotkey_hint.in.bottom {
  bottom: 0;
  margin-bottom: 10px;
}
.button__hotkey_hint.in.left {
  left: 0;
  margin-left: 10px;
}
.button__hotkey_hint.in.right {
  right: 0;
  margin-right: 10px;
}
.button__hotkey_hint.in.top {
  top: 0;
  margin-top: 10px;
}
.button__hotkey_hint.out.bottom {
  bottom: 0;
  margin-bottom: -30px;
}
.button__hotkey_hint.out.left {
  left: 0;
  margin-left: -30px;
}
.button__hotkey_hint.out.right {
  right: 0;
  margin-right: -30px;
}
.button__hotkey_hint.out.top {
  top: 0;
  margin-top: -30px;
}

button:has(.button__hotkey_hint) {
  position: relative;
}

button:hover .button__hotkey_hint {
  opacity: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.choose_thing_type {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  height: calc(40px - 3.64px);
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 10px;
}

textarea {
  resize: vertical;
  min-height: 100px;
  padding-top: 10px;
  height: calc(100px - 13.66px);
}

.hidden {
  position: absolute;
  z-index: -10;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.focus {
  outline: 2px solid #000;
  border-radius: 10px;
}

.upload-photo__label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  height: calc(40px - 1.66px);
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.box {
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  gap: 5%;
  min-height: calc(100vh - 90px);
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
}

.header__wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 10px;
}

.header__logo {
  height: 40px;
  aspect-ratio: 1/1;
}

.header__title {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.header__buttons {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 30px;
  margin-bottom: 3%;
  margin-top: 3%;
}

.list__title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  align-items: center;
}

.dialog_box__wrapper {
  display: flex;
  justify-content: center;
}

.dialog_box__background {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.dialog_box {
  position: fixed;
  z-index: 2;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  width: 70%;
  max-width: 500px;
  padding: 10px;
  gap: 10px;
}

.box_title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.thing {
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 10px;
  gap: 10px;
  max-width: 500px;
  width: 80%;
}

.thing__hidden {
  opacity: 0;
  display: none;
  transition:
    opacity 0.5s linear,
    display 0.5s allow-discrete;
}

.thing__title {
  font-weight: bold;
  justify-content: center;
  display: flex;
  text-align: center;
}

.thing__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thing__photo {
  width: calc(100% - 1.66px);
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.rotate {
  transform: rotate(-360deg);
  transition: all 1s ease-out;
}

@keyframes rotation {
  to {
    rotate: 360deg;
  }
}

.loading {
  animation: rotation 0.5s linear infinite;
  height: 40px;
  aspect-ratio: 1/1;
}

.auth-container__wrapper {
  background: url('/auth_background.jpeg');
  background-position: center;
  background-size: cover;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container:before {
  content: 'LTS-сервис';
  color: #fff;
  position: absolute;
  margin-top: -105px;
  margin-left: -30px;
  font-size: 45px;
  font-weight: 200;
}

.auth-container {
  background: white;
  border-radius: 10px;
  width: 70%;
  max-width: 500px;
  padding: 40px;
  gap: 10px;
  box-sizing: border-box;
  background-color: rgba(255 255 255 / 0.9);
  display: flex;
  flex-direction: column;
}

.auth-container__title {
  font-weight: bold;
  font-size: 25px;
  color: rgba(0 0 0 / 0.5);
  width: 100%;
  text-align: center;
}

.auth-container__form {
  margin-top: 15px;
  gap: 25px;
  display: flex;
}

.auth-container__input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.auth-container__input {
  width: auto;
  border: none;
  outline-style: none;
  padding: 0;
  background-color: transparent;
}

.auth-container__input:focus ~ .auth-container__label,
.auth-container__input:not(:placeholder-shown) ~ .auth-container__label {
  font-size: 15px;
  margin-bottom: 35px;
  color: #2451a4;
}

.auth-container__input:focus ~ .auth-container__underline {
  background-color: #2451a4;
}

.auth-container__label {
  cursor: text;
  color: #aaa;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  user-select: none;
  transition:
    font-size 0.2s ease,
    margin-bottom 0.2s ease;
}

.auth-container__underline {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  transition: background-color 0.2s ease;
}

body:has(.auth-container__wrapper) {
  overflow: hidden;
}

.auth-container__submit-button {
  background-color: #2451a4;
  color: #fff;
  margin-top: 10px;
}

.auth-container__submit-button:hover {
  background-color: #144194;
}

.auth-container__another-action {
  color: #4f4f4f;
}

.auth-container__label.error {
  color: #cc0000 !important;
}

.auth-container__label.success {
  color: #008800 !important;
}

.auth-container__underline.error {
  background-color: #cc0000 !important;
}

.auth-container__input:focus ~ .auth-container__underline.success {
  background-color: #008800 !important;
}
