html {
  margin-top: 15px;
  margin-bottom: 15px;
}

* {
  font-family: sans-serif;
  font-size: 18px;
  background-color: #eeeeee;
}

svg {
  fill: #000000;
  width: 100%;
  background: transparent;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 10px;
  background: #d3eeff;
  cursor: pointer;
  height: 40px;
}

button:hover {
  background-color: #b1e0ff;
}

form {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.box {
  background: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  gap: 10px;
  background: #ffffff;
  border-radius: 10px;
}

.header__title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  background: transparent;
}

.header__buttons {
  display: flex;
  gap: 10px;
  margin-right: 20px;
  background: #ffffff;
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
}

.list__title {
  font-weight: bold;
  font-size: 20px;
  background: transparent;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: transparent;
}

.dialog_box__background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.dialog_box__wrapper {
  display: flex;
  justify-content: center;
}

.dialog_box {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  background-color: #ffffff;
  width: 70%;
  max-width: 500px;
}

.box_title {
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thing {
  max-width: 500px;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background: #ffffff;
}

.thing__title {
  font-weight: bold;
  justify-content: center;
  display: flex;
  background: #ffffff;
}

.thing__content {
  margin-bottom: 10px;
  background: transparent;
}

.thing__photo {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top: 10px;
}
