UID=1000
GID=1000
APP_MODE=dev # dev/prod
DOCS_PORT=32782
FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=31022
BACKEND_HOST=127.0.0.1
BACKEND_PORT=37190
POSTGRES_DB=postgres_db
POSTGRES_PASSWORD=12345678
POSTGRES_PORT=54321 # for connecting to db in container from the host system
POSTGRES_SSL_MODE=false
POSTGRES_TIME_ZONE=Europe/Moscow
POSTGRES_USER=postgres
PRODUCTION=false
JWT_SECRET_AUTH=secret
JWT_SECRET_INVITE=secret
COOKIE_SECURE=false
VALKEY_HOST=valkey
VALKEY_PORT=6379
VALKEY_PASSWORD=12345678
EMAIL_HOST=smtp.example.ru
EMAIL_PORT=587
EMAIL_USERNAME=email@example.ru
EMAIL_PASSWORD=12345678
SMTP_SKIP_VERIFY=false
FOOTER_TEXT=© Лицей № 369, 2026 — настоящее время

# Development
MAILHOG_SMTP_PORT=1025
MAILHOG_HTTP_PORT=8025
