services:

  postgres:
    image: postgres:latest
    container_name: lts-postgres
    restart: always
    env_file:
      - .env
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "${POSTGRES_PORT:-54321}:5432"
    volumes:
      - ./data/pg:/var/lib/postgresql/data/pgdata
    networks:
      - lts_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: laptopcoder/lts-service-backend:latest
    container_name: lts-backend
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime
      - ./data/db:/backend/data/db
      - ./data/env:/env
      - ./data/storage:/backend/data/storage
    environment:
      - PATH_TO_DB=/backend/data/db/db.sqlite3
      - PATH_TO_ENV=/env
      - PATH_TO_STORAGE=/backend/data/storage
      - RSA_PRIVATE_KEY=RSA_private_key.pem
      - RSA_PUBLIC_KEY=RSA_public_key.pem
      - POSTGRES_HOST=postgres
      - JWT_ISSUER=lts-backend
    env_file:
      - .env
    networks:
      - lts_network
    ports:
      - "37190:37190"
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    image: laptopcoder/lts-service-frontend:latest
    container_name: lts-frontend
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime
      - ./data/env:/env
      - ./data/storage:/usr/share/nginx/html/storage/storage
    env_file:
      - .env
    networks:
      - lts_network
    ports:
      - "${FRONTEND_PORT:-31022}:${FRONTEND_PORT:-31022}"
    depends_on:
      - backend

networks:
  lts_network:
    driver: bridge
