.header_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
}

.header_button:hover {
  background-color: #eeeeee;
}
