.not_found_page_content {
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.not_found_page_image {
  width: 100%;
  max-width: 450px;
}

.not_found_page_text {
  color: #353535;
  font-family: nunito;
  font-size: 40px;
  font-weight: 900;
  width: 100%;
  max-width: 450px;
  height: fit-content;
  text-align: center;
}
