.write_to_user_button {
  height: 70px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--gray);
  background-color: var(--indigo);
  color: var(--white);
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}

.write_to_user_button img {
  height: 100%;
}
