.submit_button {
  border: none;
  border-radius: 10px;
  background-color: #d3eeff;
  padding: 5px;
  height: 40px;
  width: 50%;
  cursor: pointer;
  font-size: 16px;
}

.submit_button:hover {
  background-color: #b1e0ff;
}
