.square_image_button {
  height: 40px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 10px;
  background-color: #d3eeff;
  padding: 5px;
  cursor: pointer
}

.square_image_button:hover {
  background-color: #b1e0ff;
}
