.change_thing_status_button {
  border: none;
  border-radius: 10px;
  background-color: #d3eeff;
  padding: 5px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
}

.change_thing_status_button:hover {
  background-color: #b1e0ff;
}
