.page {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 30px;
  gap: 10px;
}

.header__title {
  margin-left: 30px;
}

.header__buttons {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.things_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.things_list__title {
  font-weight: bold;
}

.things_list__content {
  display: flex;
  flex-direction: column;
}

.footer {
}
