.reject_button {
  border: none;
  border-radius: 10px;
  background-color: #ffcdd2;
  padding: 5px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.reject_button:hover {
  background-color: #ef9a9a;
}
