.toggle_switch {
  position: relative;
  width: 60px;
  height: 40px;
  display: flex;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  /*Hidden*/
  position: absolute;
  z-index: -10;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.slider_wrapper {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 10px;
}

.slider {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  height: 30px;
  width: 30px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 0.2s;
  border-radius: 10px;
}

.checkbox:checked ~ .slider_wrapper {
  background-color: #d3eeff;
}

.checkbox:checked ~ .slider {
  transform: translateX(20px);
}
